<aside class="resources">
                <h3>Favorite Web Resources</h3>
                <ul>
				<li><a href="http://www.pluralsight.com/" target="_blank">Pluralsight</a></li>
				 <li><a href="https://www.codeschool.com/" target="blank">Code Schools</a></li>
                    <li><a href="http://www.w3schools.com/">W3 Schools</a></li>
                    <li><a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a></li>
                    <li><a href="http://css-tricks.com/" target="blank">CSS Tricks</a></li>
                    
                    <li><a href="http://bestwebgallery.com/" target="blank">Best Web Gallery</a></li>
                    <li><a href="http://webdesignledger.com/" target="_blank">Web Design Ledger</a></li>
                    <li><a>Site Point</a></li>
                    
                </ul>
           </aside>