<div><span>I'm a self-motivated Front End Developer, currently living in Chicago, who is passionate about HTML5, CSS3, and JavaScript. Strong experience in web design, web development, and best practices including re-usability, scalability and maintainability of HTML/CSS. Furthermore, I'm constantly keeping up with current web trends and expanding knowledge on web technologies.

In addition, I'm a team player who is big on problem solving and ensures quality performance on all projects.

When I’m not thinking about (or actually doing) web design or development, I love travelling, spending time with friends and family, going to movies, museums or for a bicycle ride along the lake front.

</span></div>