<div><span>I'm a self-motivated Front End Developer completed my masters in computer science and started career in web/front end development, currently living in Chicago, who is passionate about HTML5, CSS3, and JavaScript frameworks.

Strong experience in web development, and best practices including re-usability, scalability and maintainability of HTML/CSS.<br><br> I'm also an expert in using A/B testing tools test and target and sitespect. Furthermore, I'm constantly keeping up with current web trends and expanding knowledge on web technologies watching videos and reading on websites. Recently started learning Bootstrap, Angular js. In addition, I'm a team player who is big on problem solving and ensures quality performance on all projects.

<br><br>I love travelling, spending time with friends and family, going to movies, shopping, walking along the lake front.
</span></div>


